html,
body {
	font-family: Arial, 'Helvetica Neue', sans-serif;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	line-height: 1.5;
	font-synthesis: none;
	color: $black;
	@extend %font-smoothing;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
div {
	line-height: 1.4;
}

p {
	margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}

a {
	text-decoration: none;
}

a,
button {
	cursor: pointer;
	@extend %btn;
}

img {
	max-width: 100%;
	display: block;
	height: auto;
}

ul {
	list-style-type: none;
}

button,
input,
optgroup,
select,
textarea,
label,
a {
	font-family: Arial, 'Helvetica Neue', sans-serif;
	outline: 0;
	box-shadow: none;
	-webkit-tap-highlight-color: $transparent;

	&:focus {
		outline: 0;
		box-shadow: none;
	}
}

input {
	border-radius: 0;
}

textarea {
	height: auto !important;
	resize: none;
}

