/* ===========================
   COLORS
   =========================== */

/* Highlight colors */
$green: #5f7623;

/* Neutral colors */
$white: #FFF;
$black: #0e0e0e;
$black-1: #2b2b2a;
$black-2: #000;
$transparent: transparent;
