extends ../layout/pages

//- block config
//- - var title = 'HOME'
//- - var clase = '-bgPurple'

block main
	main.not-found
		.o-container
			.not-found__content
				.not-found__image
					img(src="./images/not-found.png", alt="")
				.not-found__description
					.heading Uy! Página no encontrada
					p Quizás puedas intentar refrescar la página, a veces funciona.
					button.btn Volver donde estaba
