.u-hidden-tablet {
	@include mq('tablet', max) {
		display: none !important;
	}
}

.u-visible-tablet {
	@include mq('tablet') {
		display: none !important;
	}
}

.u-relative {
	position: relative !important;
}

.u-list-inline {
	font-size: 0;

	> li {
		display: inline-block;
		font-size: initial;
		margin-left: 5px;
		margin-right: 5px;
	}
}

.u-text-left {
	text-align: left !important;
}

.u-text-center {
	text-align: center !important;
}

.u-text-right {
	text-align: right !important;
}

.u-flex {
	display: flex;
	flex-wrap: wrap;
}

.u-align-items-center {
	align-items: center;
}

.u-align-flex-end {
	align-items: flex-end;
}

.u-justify-content-between {
	justify-content: space-between;
}

.u-mt--lv9 {
	margin-top: 54px;
}

.u-mt--lv8 {
	margin-top: 48px;
}

.u-mt--lv7 {
	margin-top: 42px;
}

.u-mt--lv6 {
	margin-top: 36px;
}

.u-mt--lv4 {
	margin-top: 24px;
}

.u-mt--lv3 {
	margin-top: 18px;
}

.u-mt--lv2 {
	margin-top: 12px;
}

.u-mt--lv3-tablet {
	@include mq('tablet', max) {
		margin-top: 18px;
	}
}

.u-mb--lv0 {
	margin-bottom: 0;
}

.u-mb--lv1 {
	margin-bottom: 6px;
}

.u-mb--lv2 {
	margin-bottom: 12px;
}

.u-mb--lv3 {
	margin-bottom: 18px;
}

.u-mb--lv4 {
	margin-bottom: 24px;
}

.u-mb--lv6 {
	margin-bottom: 36px;
}


.u-mb--lv7 {
	margin-bottom: 42px;
}


.u-mb--lv8 {
	margin-bottom: 48px;
}

.u-ml--lv1 {
	margin-left: 10px;
}

.u-ml--lv3 {
	margin-left: 18px;
}

.u-mr--lv3 {
	margin-right: 18px;
}

.u-pt--lv0 {
	padding-top: 0;
}

.u-ptb--lv20 {
	padding-top: 50px;
  padding-bottom: 50px;

  @include mq('tablet') {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @include mq('tablet-wide') {
    padding-top: 120px;
    padding-bottom: 100px;
  }
}

.u-pl--lv0 {
	padding-left: 0 !important;
}

.u-pb--lv5 {
	padding-bottom: 20px;
}

.u-notmargin-x {
	margin-left: -15px;
	margin-right: -15px;

	&.-tablet {
		@include mq('tablet') {
			margin-left: 0;
			margin-right: 0;
		}
	}
}

.u-text-uppercase {
	text-transform: uppercase;
}
