doctype html
html(lang="es")
	head
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
		meta(name="description" content="")
		meta(name="keywords" content="")
		meta(name="author" content="")
		meta(property="og:title" content="")
		meta(property="og:description" content="")
		meta(property="og:site_name" content="")
		meta(property="og:url" content="")
		meta(property="og:image" content="")
		//- link(rel="shortcut icon" type="image/x-icon" href='./images/favicon.ico')
		title #{title}
		link(rel="stylesheet", href="css/main.min.css")
	body
		block main
